.App {
    text-align: center;
    background-color: #f2f2f2;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
} */

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* header */


/* .navbar {
    width: 100%;
    height: 70px;
    background-color: #192041;
    position: sticky;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 10000;
}

.nav-up {
    top: -70px;
}

.tab {
    margin-left: 2.5em;
}

.tab1 {
    position: relative;
    left: 400px;
} */

.navbar {
    background-color: #192041;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s ease-in-out;
}

.navbar tab {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

.navbar tab:hover {
    background-color: white;
    color: black;
}

.tab1 {
    position: relative;
    left: 100%;
}


/* footer */

.footer1 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #192041;
}


/* carousel */

.carouselFirstSlide {
    width: 100%;
    background: url(../src/assets/carousel/usv2.jpg) center center;
}

.h1Carousel {
    text-align: center;
}


/* home */

.home {
    padding: 20px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.cardImage {
    width: 300px;
    height: 200px;
}

.button {
    background-color: #192041;
}


/* homePage */


/* .carousel-inner>.item>img {
        width: 640px;
        height: 360px;
    } */


/* .bgImage {
    padding: 10px;
    width: 100%;
    background: url(../src/assets/bodyHomePage/cantina4.jpg) center no-repeat;
} */

.imgCantina {
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    max-width: 450px;
    height: auto;
    /* position: relative;
    left: 10px;
    top: 10px;
    margin: 10px; */
}

.textImgCantina {
    width: 100%;
    max-width: 650px;
    height: auto;
    font: 1.2em;
    color: black;
    float: right;
    position: relative;
    right: 100px;
    top: 100px;
}

.imag {
    top: 10px;
    background: url(../src/assets/bodyHomePage/cantina42.png) center;
}


/* gallery */

.column {
    float: left;
    width: 50% !important;
    padding: 10px;
}

#row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

#column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    #column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    #column {
        flex: 100%;
        max-width: 100%;
    }
}

.galleryImage {
    width: 100%;
}

.h1Gallery {
    position: relative;
    right: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.gallery {
    padding: 40px;
}


/* contact */

.contact,
.despre {
    margin: 50px;
}

.contactImage,
.despreImage {
    float: right;
    width: 100%;
    margin: 20px;
}

.info {
    margin: 10px;
}

#info {
    position: relative;
    top: 80px;
}


/* despreNoi */

#infoDespre {
    position: relative;
    top: 80px;
}

.infoDespre {
    margin: 10px;
}

.galerieDespreNoi {
    padding: 30px;
}


/* .despre {
    background: url(../src/assets/bodyHomePage/cantina42.png) center;
} */


/* ------------------------------- m e n i u ---------------------------- */


/* ciorbe */

.ciorbe,
.pui,
.porc,
.vita,
.peste {
    padding: 10px;
}

.h1Ciorbe,
.h1Produse {
    padding: 20px;
    font-family: 'georgia';
    font-size: 50px;
    text-shadow: 1px 1px;
    background: url(../src/assets/bodyHomePage/cantina42.png) center;
}


/* preparate pui */

.preparatePui {
    margin-bottom: 10px;
    padding-left: 80px;
}

.first {
    border: 1px solid black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}