    .App {
        text-align: center;
    }
    
    .App-logo {
        height: 40vmin;
        pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        color: #61dafb;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    /* header */
    
    .header {
        width: 100%;
        height: 70px;
        background-color: #192041;
        position: fixed;
        top: 0;
        transition: top 0.2s ease-in-out;
        z-index: 1;
    }
    
    .nav-up {
        top: -70px;
    }
    /* footer */
    
    .footer1 {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        color: white;
        background-color: #192041;
    }
    /* carousel */
    
    .carouselFirstSlide {
        width: 100%;
        background: url(../src/assets/carousel/usv2.jpg) center center;
    }
    
    .h1Carousel {
        text-align: center;
    }
    /* home */
    
    .home {
        padding: 30px;
    }
    
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
    
    .cardImage {
        width: 300px;
        height: 200px;
    }